<section class="module">
  <header class="module-header">
    <h1>Here are your links</h1>
  </header>

  <ul class="advice-links">
    <%= for advice <- @advice do %>
      <li>
        <p><%= advice.advisor.name %>
        <a class="individual" href="<%= provide_advice(advice) %>"><%= advice.questionnaire_id %></a>
        </p>
      </li>
    <% end %>
  </ul>

  <p>See advice <a class="see-advice-link" href="<%= progress_link(@questionnaire) %>"><%= @questionnaire.id %></a></p>
</section>
