<%= inputs_for @form, :advisors, fn advisors_form -> %>
  <ul class="people-grid">
    <%= for person <- @everybody do %>
      <li class="advisor-grid-tile">
        <%= label advisors_form, :advisor, [for: "proposal_advisors_#{person.id}", class: "advisor-label"] do %>
           <%= checkbox(advisors_form, String.to_atom("#{person.id}"), class: "advisor-select") %>
           <div class="xyz">
             <img  class="advisor-image" src="<%=image_url(person)%>" />
           </div>
        <% end %>
        <p class="advisor-name"><%= person.name %></p>
      </li>
    <% end %>
</ul>
<% end %>
