  <ul id="mentors" class="people-grid">
    <%= for person <- @leads do %>
      <li data-testid="mentor">
        <%= label @form, :mentor, [for: "draft_mentor_#{person.id}"] do %>
          <%= radio_button(@form ,:mentor, person.id, [class: 'vh']) %>
          <div class="frame">
            <img src={ person.profile_image } />
          </div>
          <p><%= person.name %></p>
        <% end %>
      </li>
    <% end %>
  </ul>
