<div id="questions" class="question-picker">
  <%= inputs_for @form, :questions, fn questions_form -> %>
    <ul>
      <h3 class="center">Technical</h3>
      <%= for q <- @questions.technical do %>
        <%= render "_question.html", q: q, form: questions_form, color: :green %>
      <% end %>
    </ul>
    <ul>
      <h3 class="center">Client</h3>
      <%= for q <- @questions.client do %>
        <%= render "_question.html", q: q, form: questions_form, color: :red %>
      <% end %>
    </ul>
    <ul>
      <h3 class="center">Community</h3>
      <%= for q <- @questions.community do %>
        <%= render "_question.html", q: q, form: questions_form, color: :blue %>
      <% end %>
    </ul>
  <% end %>
</div>

