<%= form_for @conn, "/request", [as: :draft], fn f -> %>
  <section class="center-l">
    <h1>Hello <%= @mentee.name %>!</h1>
    <h2>Who is your Mentor?</h2>
    <%= render "_mentors.html", leads: @mentors, form: f %>
  </section>

  <hr />

  <section class="center-l">
    <h2>Tell us why you are looking for advice:</h2>
    <p>(max 140 characters, like Twitter!)</p>
    <%= textarea(f, :message, rows: 3, maxlength: 140, class: "context-of-advice") %>
  </section>

  <hr />

  <section class="center-l">
    <h1>Choose topics for advice</h1>
    <%= render "_questions.html", questions: @questions, form: f %>
  </section>

  <hr />

  <section class="center-l">
    <h1>Choose people to give you advice</h1>
    <%= render "_advisors.html", everybody: @everybody, form: f %>
  </section>

  <section class="center-l">
    <input type="hidden" name="_csrf_token" value="<%= get_csrf_token() %>">
    <button type="submit" class="request-advice button primary" id="ask-for-advice">Ask for advice</button>
  </section>
<% end %>

<div class="notice invisible">
  <p class="notice-message"></p>
</div>
