<ul class="people-picker">
  <%= inputs_for @form, :advisors, fn x -> %>
    <%= for person <- @everybody do %>
      <li>
        <%= checkbox(x, String.to_atom("#{person.id}")) %>
        <%= label(x, :advisor, "", for: "proposal_advisors_#{person.id}", class: "people-picker", style: "background: url(#{person.profile_image}); background-size: cover;") %>
        <span class="name"><%= person.name %></span>
      </li>
    <% end %>
  <% end %>
</ul>
