<ul class="people-picker">
  <%= for person <- @everybody do %>
    <li>
      <input id="<%= person.id %>" type="checkbox" name="people[<%= person.id %>]">
      <label for="<%= person.id %>"  class="people-picker" style="background: url(<%= person.profile_image%>);
      background-size: cover;">
      </label>
      <span class="name"><%= person.name %></span>
    </li>
  <% end %>
</ul>
