<ul class="people-picker">
  <%= for person <- @leads do %>
    <li>
      <%= radio_button(@form ,:group_lead, person.id) %>
      <%= label(@form, :group_lead, "", for: "proposal_group_lead_#{person.id}", class: "people-picker", style: "background: url(#{person.profile_image}); background-size: cover;", ) %>
      <span class="name"><%= person.name %></span>
    </li>
  <% end %>
</ul>
