<div class="question-picker">
  <ul class="green-questions">
    <h3>Technical</h3>
    <%= for q <- @questions.technical do %>
      <%= render "_question.html", q: q %>
    <% end %>
  </ul>
  <ul class="red-questions">
    <h3>Client</h3>
    <%= for q <- @questions.client do %>
      <%= render "_question.html", q: q %>
    <% end %>
  </ul>
  <ul class="blue-questions">
    <h3>Community</h3>
    <%= for q <- @questions.community do %>
      <%= render "_question.html", q: q %>
    <% end %>
  </ul>
</div>
