<li class="open-advice-requets">
  <img class="profile-image"  src="<%= @advice.requester.profile_image %>">
  <p><%= @advice.requester.name %></p>
  <a href="<%= provide_advice_path(Advisor.Web.Endpoint, :index, @advice.advice.id) %>" target="_blank" class="button primary profile-size">Give advice now</a>
</li>
