<section class="module">
  <header class="module-header">
    <h1>Hello <%= @viewer.name %>!</h1>
  </header>
</section>

<%= if @viewer.is_group_lead && length(@group_lead_section) > 0  do %>
  <section class="module">
    <header class="module-header medium-header">
      Your groups advice:
    </header
    <ul>
      <%= for group  <- @group_lead_section do %>
        <%= render "advice_for.html", group: group %>
      <% end %>
    </ul>
  </section>
<% end %>

<%= if length(@required_advice_section) > 0 do %>
  <hr class="separator" />

  <section class="module">
    <header class="module-header medium-header">
      These people are still awaiting your advice:
    </header>

    <ul class="row" >
      <%= for advice <- @required_advice_section do %>
        <%= render "dashboard_requester.html", advice: advice %>
      <% end %>
    </ul>
  </section>
<% end %>

<%= if @advice_for_me != :nothing do %>
  <hr class="separator" />

  <section class="module">
    <header class="module-header medium-header">
      Status of your own request for advice:
    </header>

    <ul class="row">
      <%= for advisor <- @advice_for_me do %>
        <li class="status-of-my-advisors">
          <img class="profile-image"  src="<%= advisor.profile_image %>">
          <p><%= advisor.name %></p>
        </li>
      <% end %>
    </ul>
  </section>
<% end %>
