<section class="module">
  <header class="module-header">
    <h1>Hello <%= @viewer.name %>!</h1>
  </header>
</section>

<%= if @viewer.is_group_lead  do %>
  <section class="module">
    <header class="module-header medium-header">
      Your groups advice:
    </header
    <ul>
      <%= for group  <- @group_lead_section do %>
        <%= render "advice_for.html", group: group %>
      <% end %>
    </ul>
  </section>
<% end %>

<hr class="separator" />

<section class="module">
  <header class="module-header medium-header">
    These people are still awaiting your advice:
  </header>

  <ul class="row" >
    <li>
      <img class="profile-image"  src="<%= @person.profile_image %>">
    <a href="/some-link/" target="_blank" class="button primary profile-size">Give advice now</a>
    </li>
    <li>
      <img class="profile-image"  src="<%= @person.profile_image %>" >
      <a href="/some-link/" target="_blank" class="button primary profile-size">Give advice now</a>
    </li>
    </u>
</section>

<hr class="separator" />

<section class="module">
  <header class="module-header medium-header">
    Status of your own request for advice:
  </header>

  <ul class="row">
    <li>
      <img class="profile-image"  src="<%= @person.profile_image %>">
    </li>
    <li>
      <img class="profile-image"  src="<%= @person.profile_image %>">
    </li>
  </ul>
</section>
