<input type="email" name="email" placeholder="Put your email here" />
<input type="password" name="password" placeholder="Your password" />

<input type="hidden" name="target" value="<%= @redirect_to %>">
<button type="submit" class="button primary" name="submit" value="redirect"  >Login</button>
