<section class="center">
  <h1>Here are your links:</h1>

  <ul class="stack-l">
    <%= for advice <- @advice do %>
      <li>
        <p><%= advice.advisor.name %>
        <a href="<%= provide_advice(advice) %>"><%= advice.questionnaire_id %></a>
        </p>
      </li>
    <% end %>
  </ul>

  <hr />

  <p>See advice <a class href="<%= progress_link(@questionnaire) %>"><%= @questionnaire.id %></a></p>
</section>
