<section class="center-l">
  <h1 class="large">Log in</h1>

  <.form class="stack-s" let={f} for={@conn} action={Routes.authentication_path(@conn, :submit)} as={:user}>
    <%= if @error_message do %>
      <div class="alert alert-danger">
        <p><%= @error_message %></p>
      </div>
    <% end %>

    <div class="items_on_edges">
      <%= label f, :email, class: "mr" %>
      <%= email_input f, :email, required: true %>
    </div>

    <div class="items_on_edges">
      <%= label f, :password, class: "mr" %>
      <%= password_input f, :password, required: true %>
    </div>

    <div>
      <%= submit "Login", class: "button primary" %>
    </div>
  </.form>
</section>
