<li>
  <div class="frame">
    <img class="profile-image <%= @state %>"  src="<%= @person.profile_image %>">
  </div>
  <span class="advisor">
    <%= @person.name %>
  </span>
  <span data-testid="completeness">
    <%= if @state  == :incomplete do %>
      Incomplete
    <% else %>
      Completed
    <% end %>
  </span>
</li>
