<section class="center">
  <h1 class="progress-mentee">Progress on the advice for <%= @mentee.name %></h1>

  <ul class="people-grid">
    <%= for person <- @completed do %>
      <%= render "_advisor-progress.html", person: person, state: true %>
    <% end %>
    <%= for person <- @incomplete do %>
      <%= render "_advisor-progress.html", person: person, state: :incomplete %>
    <% end %>
  </ul>

  <hr />

  <%= if @all_complete do %>
    <button href="/present/<%= @questionnaire.id %>" class="primary">We are good to go!</button>
  <% else %>
    <button class="primary" disabled>Waiting for further responses</button>
  <% end %>
</section>
