<section class="module">
  <header class="module-header">
    <h1>Advice for <%= @request.name %></h1>
    <a href="{{download_link}}"><img class="download-link" src="/assets/images/download-csv.png" alt="Download the file"></a>
  </header>

  <div class="feedback-questions">
    <%= for question <- @answered_questions do %>
    <div class="feedback-question">
      <h3><%= question.question_phrase %></h3>
      <%= for answer <- question.answers do %>
      <div class="feedback-answer">
        <aside class="provider">
          <img class="profile-image" src="<%= answer.person.profile_image %>" alt="<%= answer.person.name %>" />
          <span><%= answer.person.name %></span>
        </aside>
        <blockquote><%= answer.answer_phrase %></blockquote>
      </div>
      <% end %>
    </div>
    <hr class="separator" />
  <% end %>
  </div>
</section>
