// ==== COLOURS =====
$background: #f6f7f8;
$text-color: #495561;

$primary: #27a8e0;

$blue: #4992f9;
$green: #52aa5e;
$red: #ea635e;

$grey: #9a9a9a;
$border-grey: #8894a0;
$separator-grey: #8c8b8b;
$separator-run-off: $background;

// #2eb166 ?
$notice: rgba(46, 177, 102, .9);

$white: #fff;


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  background: $background;
  color: $text-color;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}


// ==== BUTTONS ===== //

.button:focus {
  outline: 0;
}

.button.full {
  display: block;
  width: 100%;
}

.primary {
  background: $primary;
  box-shadow: inset 0 -3px 0 darken($primary, 10%);
}

.button {
  border: 0;
  border-radius: 3px;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  line-height: 1.5em;
  margin-top: 1em;
  padding: .6em 2em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease-in-out;
  white-space: nowrap;
}

.button:active {
  box-shadow: none;
  margin-top: calc(1em + 3px);
  padding: calc(.6em - 1.5px) 2em;
}

.center {
  text-align: center;
}

p.center {
  text-align: center;
}

.button.disabled,
.button.logout {
  background-color: $grey;
  box-shadow: inset 0 -3px 0 darken($grey, 10%);
}

.logout > a {
  color: $white;
  text-decoration: none;
}

// ==== LAYOUT ==== //

.top {
  background: $white;
  border-bottom: 1px solid $border-grey;
  height: 60px;
  padding: 10px;
  text-align: center;
}

.logo {
  width: 40px;
}

.module {
  margin: 0 auto;
  max-width: 1200px;
  padding: 50px;
}

.module-header {
  margin: 0px auto 40px;
  text-align: center;
}

.large-header {
  font-size: 32px;
}

.medium-header {
  font-size: 24px;
}

hr.separator {
  background-image: linear-gradient(to left, $background, $separator-grey, $background);
  border: 0;
  height: 1px;
  width: 95%;
}

// ==== QUESTION PICKER ==== //

.question-picker {
  display: flex;
  flex-direction: column;
  position: relative;
}

.question-picker > ul {
  padding: 0;
}

.question-picker > ul li {
  flex-grow: 1;
  min-width: 200px;
  padding: 0;
  position: relative;
  width: 100%;
}

.question-picker > ul h3 {
  text-align: center;
}

@media (min-width: 800px) {
  .question-picker {
    flex-direction: row;
    justify-content: space-between;
  }

  .question-picker > ul {
    position: relative;
    width: 33%;
  }
}

.question-picker input[type='checkbox'] {
  display: none;
}

.question-picker  label {
  border-radius: 2px;
  color: $white;
  display: block;
  line-height: 25px;
  list-style-type: none;
  margin: 10px;
  min-height: 50px;
  padding: 10px;
  padding-left: 20px;
  user-select: none;
}

.question-picker label:hover {
  cursor: pointer;
  opacity: .9;
}

.question-picker > ul > li input[type='checkbox']:checked + span::before {
  content:  '\2713  ';
  left: 15px;
  position: absolute;
}

.green-questions label {
  background: $green;
  border: 1px solid darken($green, 10%);
}

.red-questions label {
  background: $red;
  border: 1px solid darken($red, 10%);
}

.blue-questions label {
  background: $blue;
  border: 1px solid darken($blue, 10%);
}

// ==== PEOPLE PICKER ==== //

.people-grid {
  display: grid;
  grid-auto-rows: 1fr;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, 250px);
  justify-content: center;
  padding: 0;
}

.advisor-grid-tile {
  .advisor-image {
    background-color: darken($background, 10%);
    background-size: cover;
    padding-bottom: 100%;
  }

  .advisor-label {
    align-self: start;

    :hover {
      cursor: pointer;
    }
  }

  .advisor-name {
    font-size: 16px;
    font-weight: bold;
    line-height: 26px;
    margin: 0;
    text-align: center;
  }

  input[type=radio]:checked + .advisor-image,
  input[type=checkbox]:checked + .advisor-image {
    box-shadow: 0 0 10px 4px $primary;
  }
}

.profile-image {
  border-radius: 3px;
  width: 200px;
  height: 200px;
}

.advisor-select {
  display: none;
}

input[type='radio'] {
  display: none;
}

li {
  list-style-type: none;
}

textarea.context-of-advice {
  display: block;
  margin: 0 auto;
}

@media (min-width: 800px) {
  textarea.context-of-advice {
    width: 50%;
  }
}

// ==== PROVIDE ==== //

.message-area {
  margin: 0 auto;
  max-width: 600px;
  padding: 15px;
  text-align: center;
}

blockquote {
  background: darken($background, 10%);
  border-left: 5px solid darken($background, 40%);
  font-style: italic;
  margin: 1.5em 0;
  padding: .5em 10px;
}

.message-area > p {
  text-align: left;
}

.advice-questions {
  margin: 0 auto;
  max-width: 600px;
}

.advice-question {
  border-radius: 3px;
  margin: 40px auto;
  padding: 15px;
  position: relative;
}

textarea {
  border: 1px solid $border-grey;
  border-radius: 3px;
  color: $text-color;
  outline: none;
  padding: 5px;
  resize: none;
  width: 100%;
}

.advice-question > h3 {
  margin-bottom: 15px;
  margin-top: 0;
}

// ==== ADVISORS ====//

.advisors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  position: relative;
  text-align: center;
}

.advisors > li {
  flex-grow: 1;
  margin: 5px;
}

.advisors > li > label {
  flex-grow: 1;
  height: 250px;
  list-style-type: none;
  margin: 15px auto;
  text-align: center;
  width: 249px;
}

.advisor {
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}

.completeness {
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  margin-bottom: 50px;
  text-align: center;
}

.profile-image.incomplete {
  filter: grayscale(100%);
  opacity: .5;
}

// ==== LINKS ==== //

.advice-links {
  padding: 0;
}

// ==== PRESENT ==== //

.advice-answer {
  margin: 30px auto;
}

.advice-answer > blockquote {
  margin: 10px 0;
}


.provider {
  margin-top: 25px;
  position: relative;
  width: 100%;
}

.provider > img {
  border-radius: 22px;
  transform: translateY(5px);
  width: 22px;
  height: 22px;
}

.provider > span {
  font-size: 16px;
  font-weight: bold;
  line-height: 25px;
  margin-left: 5px;
}

.download-link {
  width: 30px;
}

// ======== LANDING PAGE ==============//

.login-buttons {
  margin: 10px auto;
  width: 200px;
}

.login-buttons .button {
  width: 100%;
}

// ======== DASHBOARD ================//

img.small-circle {
  border-radius: 25px;
  height: 50px;
  margin-right: 10px;
  width: 50px;
}

img.dashboard_action_icon {
  height: 40px;
}

.row {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.row > p {
  flex: 0 1 20%;
}

.row > li {
  flex: 0 1 20%;
}

.profile-size {
  width: 200px;
}

.groups-advice {
  justify-content: space-between;
}

.groups-advice-section > li:nth-child(even) {
  background-color: darken($background, 15%);
}

.groups-advice-section > li:nth-child(odd) {
  background-color: darken($background, 5%);
}

.groups-advice {
  padding-left: 5px;
}

.dashboard_actions a.button {
  margin: 0;
  margin-left: .5em;
  padding: 10px;
}

.button.green {
  background: $green;
  box-shadow: inset 0 -3px 0 darken($green, 10%);
}

.button.red {
  background: $red;
  box-shadow: inset 0 -3px 0 darken($red, 10%);
}

.dashboard_actions img {
  display: block;
  height: 30px;
}

.save-user-settings {
  padding: .3em 1em;
  width: 200px;
}

.user-settings-form label {
  display: block;
  margin: .5em 0;
}

.user-settings-form {
  text-align: center;
}

.user-image-input {
  text-overflow: ellipsis;
}


// ======== NOTICE ================//

.notice {
  background: $notice;
  border-radius: 0 3px 3px 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  padding: 1em 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

.invisible {
  opacity: 0;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fade-out {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: fade-out;
  animation-timing-function: cubic-bezier(.755, .05, .855, .06);
}

/* ==== FLASH NOTIFICATION ==== */

.flash-notification {
  text-align: center;
  height: 40px;
  width: 200px;
  margin: 40px auto 0;
  padding-top: 10px;
}

.flash-notification:not(:empty) {
  animation: background-fade 2s linear 0s;
}

@keyframes background-fade {
  from { background-color: #ffb3c9}
  to {background-color: transparent}
}
