@import "fontello.css";

:root {
  --measure: 80ch;

  /* space 1 */
  --s1: 2rem;

  /* space 2 */
  --s2: 10px;

  --background: #f6f7f8;
  --darker-background: #dadee2;
  --darkest-background: #8694a1;

  --text-color: #495561;

  --primary: #27a8e0;
  --darker-primary: #1a88b7;

  --blue: #4992f9;
  --light-blue: #b6d3fc;
  --darker-blue: #297ff7;

  --green: #52aa5e;
  --light-green: #b9ddbe;
  --darker-green: #499954;

  --red: #ea635e;
  --light-red: #f6c0be;
  --darker-red: #e64640;

  --grey: #9a9a9a;
  --light-grey: #d6d6d6;
  --darker-grey: #8a8a8a;

  --border-grey: #8894a0;
  --separator-grey: #8c8b8b;
  --separator-run-off: var(--background);

  --notice: rgba(46, 177, 102, .9);
}

/* Basic axioms */

* {
  box-sizing: border-box;
}

html,
body,
div,
header,
nav,
main,
footer {
  max-width: none;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
}

input[type="checkbox"] {
  align-self: center;
  vertical-align: middle;
}

body:last-child {
  margin-bottom: var(--s1);
}

hr {
  background-image: linear-gradient(to left, var(--background), var(--separator-grey), var(--background));
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 0;
  max-width: var(--measure);
  height: 1px;
}

/* The center */

.center-simple {
  box-sizing: content-box;
  max-width: var(--measure);
  margin-left: auto;
  margin-right: auto;

  padding-left: var(--s1);
  padding-right: var(--s1);
}

.center-l {
  box-sizing: content-box;
  max-width: var(--measure);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: var(--s1);
  padding-right: var(--s1);
}

.center-l.wider {
  max-width: 100%;
}

/* The stack */
[class^='stack'] > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack-s > * + * {
  margin-top: 1.5rem;
}

.stack-l > * + * {
  margin-top: 3rem;
}

.with-sidebar {
  overflow: hidden;
}

.with-sidebar > * {
  --space: var(--s1);

  display: flex;
  flex-wrap: wrap;

  margin: calc(var(--space) /2 * -1);
}

.with-sidebar > * > :first-child {
  margin: calc(var(--space) /2 );
  flex-grow: 1
}

.with-sidebar > * > :last-child {
  flex-basis: 0;
  flex-grow: 999;
}

/* Frame */

/* consider more things here? */
.frame {
  --n: 9;
  --d: 9;
  padding-bottom: calc(var(--n) / var(--d) * 100%);
  position: relative;
}

.frame > * {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.frame > img,
.frame > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Fancy Table */
/* based on: https://gist.github.com/billmei/398c2da6b3fa3b6e4d4d<Paste> */

table {
  border-spacing: 0;
}

table tr {
  padding: 5px;
}

table th, table td {
  padding: 10px;
}

table tr:nth-child(even) {
  background-color: var(--darker-background);
}


@media screen and (max-width: 600px) {
  table thead {
    display: none;
  }

  table tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #ddd;
  }

  table td {
    display: block;
    text-align: center;
    border-bottom: 1px dotted #ccc;
  }

  table td:last-child {
    border-bottom: 0;
  }

  table td:before {
    content: attr(data-label);
    float: left;
  }
}

/* the row */

.row {
  display: flex;
  justify-content: center;
  align-content: center;
}

.row > * + * {
  margin-left: 10px;
}

/* Utilities */

.underlined {
  display: inline-block;
}

header h1,
header h2 {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  font-size: 3rem;
  line-height: 1.25;
  z-index: 9999;
  position: relative;
  font-weight: 300;
  font-family: "Alfa Slab One", serif
}

.button {
  display: block;
}

.large {
  font-size: 3rem;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.hidden-overflow {
  overflow: hidden;
}

.highlight {
  height: 1rem;
  position: relative;
  top: -25px;
  left: -5px;
  width: 110%;
  line-height: 1.6;
}

/* other */

body {
  background: var(--background);
  color: var(--text-color);
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}


button,
.button {
  border: 0;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-style: normal;
  line-height: 1.5em;
  padding: .6em .8em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease-in-out;
  white-space: nowrap;
}

.primary {
  background: var(--primary);
  box-shadow: inset 0 -3px 0 var(--darker-primary);
}

.center {
  text-align: center;
}

button:disabled,
.button.logout {
  background-color: var(--grey);
  box-shadow: inset 0 -3px 0 var(--darker-grey);
}

.logout > a {
  color: white;
  text-decoration: none;
}

.top {
  background: white;
  border-bottom: 1px solid var(--border-grey);
  height: 60px;
  padding: 10px;
  text-align: center;
}

.logo {
  width: 40px;
}

.list-of-questions {
  margin-left: 2rem;
}

.list-of-questions li {
  list-style: square;
}

.list-of-questions li + li {
  margin-top: 1rem;
}


.question-picker {
  display: flex;
  flex-direction: column;
  position: relative;
}

@media (min-width: 800px) {
  .question-picker {
    flex-direction: row;
    justify-content: space-between;
  }

  .question-picker > ul {
    position: relative;
    width: 33%;
  }
}


.question {
  display: none;
}

.question-picker label {
  border-radius: 2px;
  color: white;
  display: block;
  line-height: 25px;
  list-style-type: none;
  margin: 10px;
  min-height: 50px;
  padding-left: 20px;
  padding: 10px;
  user-select: none;
}

.question-picker label:hover {
  cursor: pointer;
  opacity: .9;
}

.question:checked + span::before {
  content:  '\2713  ';
}

.people-grid {
  width: 100%;
  display: grid;
  grid-auto-rows: 1fr;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, 200px);
  justify-content: center;
  padding: 0;
}


#advisors input:checked ~ .frame,
#mentors input:checked ~ .frame {
  box-shadow: 0 0 10px 4px var(--primary);
}

.vh {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.img {
  width: 100%;
}

.advisor-select {
  display: none;
}

textarea.context-of-advice {
  display: block;
  margin: 0 auto;
}

@media (min-width: 800px) {
  textarea.context-of-advice {
    width: 50%;
  }
}

.message-area {
  margin: 0 auto;
  max-width: 600px;
  padding: 15px;
  text-align: center;
}

blockquote {
  background: var(--darker-background);
  border-left: 5px solid var(--darkest-background);
  font-style: italic;
  margin: 1.5em 0;
  padding: .5em 10px;
}

.message-area > p {
  text-align: left;
}

textarea {
  border: 1px solid var(--border-grey);
  border-radius: 3px;
  color: var(--text-color);
  outline: none;
  padding: 5px;
  resize: none;
  width: 100%;
}

.completeness {
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  margin-bottom: 50px;
  text-align: center;
}

.profile-image.incomplete {
  filter: grayscale(100%);
  opacity: .5;
}

.provider {
  margin-top: 25px;
  position: relative;
  width: 100%;
}

.provider > img {
  border-radius: 22px;
  transform: translateY(5px);
  width: 22px;
  height: 22px;
}

.provider > span {
  font-size: 16px;
  font-weight: bold;
  line-height: 25px;
  margin-left: 5px;
}

.download-link {
  width: 30px;
}

.small-circle {
  width: 48px;
}

.circle {
  border-radius: 50%;
}

.profile-size {
  width: 200px;
}

.light-grey {
  background: var(--light-grey);
}

.green {
  background: var(--green);
}

.light-green {
  background: var(--light-green);
}

.green--shadow {
  box-shadow: inset 0 -3px 0 var(--darker-green);
}

.red {
  background: var(--red);
}

.light-red {
  background: var(--light-red);
}

.red--shadow {
  box-shadow: inset 0 -3px 0 var(--darker-red);
}

.blue {
  background: var(--primary);
}

.light-blue {
  background: var(--light-blue);
}

.blue--shadow {
  box-shadow: inset 0 -3px 0 var(--darker-primary);
}

.user-image-input {
  text-overflow: ellipsis;
}

.notice {
  background: var(--notice);
  border-radius: 0 3px 3px 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  padding: 1em 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

.invisible {
  display: none;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fade-out {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: fade-out;
  animation-timing-function: cubic-bezier(.755, .05, .855, .06);
}

.flash-notification {
  text-align: center;
  height: 40px;
  width: 200px;
  margin: 40px auto 0;
  padding-top: 10px;
}

.flash-notification:not(:empty) {
  animation: background-fade 2s linear 0s;
}

@keyframes background-fade {
  from { background-color: #ffb3c9}
  to {background-color: transparent}
}

.modal {
  align-items: center;
  display: none;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 20;
}

.modal--active {
  display: block;
}

.darkend-modal-backdrop {
  background-color: rgba(10, 10, 10, .86);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.modal-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f5f5f5;
}

.modal-card .row {
  justify-content: space-between;
  margin: var(--s2);
}

.modal-body {
  background-color: white;
  padding: var(--s2);
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}

.to-questions-link {
  color: var(--text-color);
}
