<div class="modal">
  <div class="darkend-modal-backdrop"></div>
  <div class="modal-card">
    <h2 class="center" id="modal-title"></h2>
    <div class="modal-body">
      <p>Do you really want to delete this questionnaire?</p>
    </div>
    <div class="row">
      <button class="remove button primary red">Delete it!</button>
      <button class="keep button primary">Take me back</button>
    </div>
  </div>
</div>
