<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-title">
      <h2>Confirm</h2>
    </header>
    <div class="modal-body">
      <p>Do you want to delete this questionnaire?</p>
    </div>
    <footer class="modal-footer">
      <button class="keep button primary">Keep</button>
      <button class="remove button primary red" data-questionnaire="<%= @questionnaire_id %>">
        Delete!
      </button>
    </footer>
  </div>
</div>
