<section class="module">
  <header class="module-header medium-header">
    Your mentees:
  </header>
  <ul class="groups-advice-section">
    <%= for group  <- @section.groups do %>
      <li class="row groups-advice">
        <%= render "advice_for.html", group: group %>
      </li>
    <% end %>
  </ul>
</section>
