<section class="center-l wider">
  <h2>Your mentees:</h2>
  <table class="row-based">
    <thead class="vh">
      <tr>
        <td>Mentee</td>
        <td>Advisors</td>
        <td>Actions</td>
      </tr>
    </thead>
    <tbody>
      <%= for group  <- @section.groups do %>
        <tr>
          <td data-testid="dashboard-mentee"><%= group.mentee.name %></td>
          <td>
            <div class="row">
            <%= for person <- group.advisors do %>
              <div class="small-circle">
                <div class="frame">
                  <img class="circle" src="<%= person.profile_image %>">
                </div>
              </div>
            <% end %>
            </div>
          </td>
          </td>
          <td>
            <ul class="row">
              <li>
                <a class="button primary red delete" data-testid="delete-action" data-questionnaire-id="<%= group.questionnaire_id %>" data-mentee-name="<%= group.mentee.name %>">
                  <icon class="icon-trash" />
                </a>
              </li>
              <li>
                <a data-testid="present-action" href="<%= path_to_present(group.questionnaire_id) %>" class="button primary green">
                  <icon class="icon-desktop" />
                </a>
              </li>
              <li>
                <a href="<%= download_summary(group.questionnaire_id) %>" class="button primary">
                  <icon class="icon-download-alt" />
                </a>
              </li>
            </ul>
          </td>
        <% end %>
    </tbody>
  </table>
</section>
