<p>Advice for <%= @group.requester.name %></p>
<ul class="row">
  <%= for person <- @group.advisors do %>
    <li>
      <img class="profile-image small-circle"  src="<%= person.profile_image %>">
    </li>
  <% end %>
</ul>
<ul class="row dashboard_actions">
  <li>
    <a href="<%= path_to_questionnaire(@group.questionnaire_id) %>" class="button primary red">
      Delete
    </a>
  </li>
  <li>
    <a href="<%= path_to_present(@group.questionnaire_id) %>" class="button primary green" target="_blank">
      Present
    </a>
  </li>
  <li>
    <a href="<%= download_summary(@group.questionnaire_id) %>" class="button primary" target="_blank">
      Download CSV
    </a>
  </li>
</ul>
