<section class="module center">
  <header class="module-header">
    <h1>Hello <%= @user.name %>!</h1>
  </header>

  <%= if ! @dashboard.existing_questionnaire do %>
    <a href="/request" class="button primary">Request advice for yourself</a>
  <% end %>
</section>

<%= if @user.is_group_lead && has_advice(@dashboard) do %>
  <%= render "_group_lead_section.html", section: @dashboard.group_lead_section %>
<% end %>

<%= if needs_to_give_advice(@dashboard) do %>
  <hr class="separator" />

  <section class="module">
    <header class="module-header medium-header">
      These people are still awaiting your advice:
    </header>

    <ul class="row" >
      <%= for advice <- @dashboard.required_advice_section do %>
        <%= render "dashboard_requester.html", advice: advice %>
      <% end %>
    </ul>
  </section>
<% end %>

<%= if awaiting_advice(@dashboard) do %>
  <hr class="separator" />

  <section class="module">
    <header class="module-header medium-header">
      Status of your own request for advice:
    </header>

    <ul class="row">
      <%= for advice <- @dashboard.personal_advice_section do %>
        <li class="status-of-my-advisors">
          <img class="profile-image <%= completed?(advice) %>"  src="<%= advice.advisor.profile_image %>">
          <p><%= advice.advisor.name %></p>
          <p><%= completed?(advice) %></p>
        </li>
      <% end %>
    </ul>
  </section>
<% end %>

<hr class="separator" />

<% info = get_flash(@conn, :info) %>
<% error = get_flash(@conn, :error) %>
<div class="flash-notification" role="alert"><%= if info, do: info, else: error %></div>
<section class="module">
  <header class="module-header medium-header">
    Your settings:
  </header>
  <%= form_for @update_user, "/dashboard/settings", [method: "post", class: "user-settings-form"], fn f -> %>
    <label>
      Are you a group lead? <%= checkbox f, :is_group_lead, id: "is_group_lead"  %>
    </label>
    <label>
      Image URL: <%= url_input f, :profile_image, id: "profile_image", class: "js_user-image-input user-image-input" %>
    </label>
    <div>
      <img class="profile-image js_user-image-display" src="<%= @update_user.data.profile_image %>" />
    </div>
    <div>
      <%= submit "Save", class: "button primary small save-user-settings" %>
    </div>
  <% end %>
</section>
