<form action="/provide/<%= @advice_id %>" method="post">
  <section class="module">
    <header class="module-header">
      <h1>Advice for <%= @requester.name %></h1>
    </header>

    <%= if @message do %>
      <div class="message-area">
        <p>A little note from <%= @requester.name %>:</p>
        <blockquote class="message">
          <%= @message %>
        </blockquote>
      </div>

      <hr class="separator" />
    <% end %>

    <div class="advice-questions">
      <%= for question <- @questions do  %>
        <div class="advice-question">
          <h3><%= question.phrase %></h3>
          <textarea name="<%= question.id %>" rows="5"></textarea>
        </div>
      <% end %>
      <input type="hidden" name="_csrf_token" value="<%= get_csrf_token() %>">
      <button type="submit" class="button primary full">Submit your advice</a>
    </div>
  </section>
</form>

