<form action={ "/provide/#{ @questionnaire_id }" } method="post">
  <section class="center-l">
    <h1>Advice for <%= @mentee.name %></h1>

    <%= if @message do %>
      <div class="message-area">
        <p>A little note from <%= @mentee.name %>:</p>
        <blockquote class="message">
          <%= @message %>
        </blockquote>
      </div>

      <hr />
    <% end %>

    <div class="stack-l">
      <%= for question <- @questions do  %>
        <div>
          <h3><%= question.phrase %></h3>
          <textarea name={ question.id } rows="5"></textarea>
        </div>
      <% end %>
      <input type="hidden" name="_csrf_token" value={ get_csrf_token() }>
    </div>
    <button type="submit" class="button primary" id="submit-your-advice">Submit your advice</button>
  </section>
</form>

