<section class="module">
  <header class="module-header">
    <h1>Here are your links</h1>
  </header>

  <ul class="feedback-links">
    <%= for link <- @links do %>
      <li>
        <p><%= link.person.name %>
        <a class="individual" href="<%= link.link %>"><%= link.link %></a>
        </p>
      </li>
    <% end %>
  </ul>

  <p>See advice <a href="<%= @progress_link %>"><%= @progress_link %></a></p>
</section>
