<section class="module">
  <header class="module-header">
    <h1>Advice for <%= @request.name %></h1>
    <a href="/present/<%= @id %>/download.csv"><img class="download-link" src="/assets/images/download-csv.png" alt="Download the file"></a>
  </header>

  <div class="advice-questions">
    <%= for question <- @answered_questions do %>
      <div class="advice-question">
        <h3><%= question.question_phrase %></h3>
        <%= for answer <- question.answers do %>
          <div class="advice-answer">
            <aside class="provider">
              <img class="profile-image" src="<%= answer.person.profile_image %>" alt="<%= answer.person.name %>" />
              <span><%= answer.person.name %></span>
            </aside>
            <p><%= answer.answer_phrase %></p>
          </div>
        <% end %>
      </div>
      <hr class="separator" />
    <% end %>
    <div class="advice-question">
      <h3>Any other advice?</h3>
      <%= for note <- @notes do %>
        <div class="advice-answer">
          <aside class="provider">
            <img class="profile-image" src="<%= note.person.profile_image %>" alt="<%= note.person.name %>" />
            <span><%= note.person.name %></span>
          </aside>
          <p><%= note.note_phrase %></p>
        </div>
      <% end %>
    </div>
  </div>
</section>
