<section class="center">
  <h1>Advice for <%= @request.name %></h1>
  <a href={"/present/#{ @id }/download.csv"}><img class="download-link" src="/assets/images/download-csv.png" alt="Download the file"></a>
  <!-- possibly remove that link...-->

  <hr />

  <div class="stack-l">
    <%= for question <- @answered_questions do %>
      <h3 data-testid="advice-question"><%= question.question_phrase %></h3>
      <%= for answer <- question.answers do %>
        <div>
          <aside class="provider">
            <img src={ answer.person.profile_image } alt={ answer.person.name } />
            <span><%= answer.person.name %></span>
          </aside>
          <p><%= answer.answer_phrase %></p>
        </div>
      <% end %>
      <hr />
    <% end %>
  </div>
</section>
