<%= if ! @existing_questionnaire do %>
  <a href="/request" class="button primary">Ask for advice</a>
<% end %>
<a href="/dashboard" class="button primary">Go to your Dashboard</a>

<a href="/logout" class="button primary logout">Log out</a>
