<%= if Mix.env == :dev do  %>
  <%= for person <- everybody() do %>
    <a href="/auth/login?email=<%= person.email %>" class="button primary login">Login as <%= person.name %></a>
  <% end %>
<%= else %>
  <a href="/auth/login" class="button primary login">Login with Google</a>
<% end %>


