<section class="module">
  <header class="module-header large-header">
    <h1><%= @title %></h1>
    <p>Let's help someone on the path to mastery today.</p>
  </header>

  <div class="login-buttons">
    <%= if @logged_in do %>
      <%= render "_logged_in.html", existing_questionnaire: @existing_questionnaire %>
    <% else %>
      <%= render "_not_logged_in.html" %>
    <% end %>
  </div>
</section>
