<section class="module">
  <header class="module-header large-header">
    <h1><%= @title %></h1>
    <p>Let's help someone on the path to mastery today.</p>
  </header>

  <div class="login-form">
    <form action="/begin" method="post">

      <%= login_form_for(@logged_in, @redirect_to) %>

      <input type="hidden" name="_csrf_token" value="<%= get_csrf_token() %>">
    </form>

  </div>
</section>
